# cache for test output
.cache
*.log
*.json
*.pdf
*.zip
*.png
*.xlsx
!attack_config/*
!ga_config.json
!rand_config.json
!opt_rand_config.json
!llama_rand_config.json
!attack_log/GAAttackSynthID-2025-01-20 00:04.log
attack_log/llama_log.zip
!opt_ga_config.json
!llama_ga_config.json
!attk_config/*
# compiled python files
__pycache__/

# run logs
outputs/

# IDE files
.c9*
.idea/

# Jupyter notebook files
.ipynb_checkpoints/

# Sphinx documentation
docs/_build/

# Packaging
*.egg-info/

# Files from IDES
.*.py

# TF Hub modules
tensorflow-hub

# for Macs
.DS_Store

# build outputs for PyPI
build/
dist/

# Weights & Biases outputs
wandb/

# Tensorboard logs
runs/

# checkpoints
checkpoints/

# vim
*.swp

.vscode
*.csv
!tests/sample_outputs/csv_attack_log.csv
tests/test_command_line/attack_log.txt
textattack/=22.3.0
*.pth
MarkLLM/watermark/sir/model/*
!MarkLLM/config/*
saved_model/*
tmp.sh
output_text.png
text.png
*.png
textA.png
